h2, a {
  color: goldenrod;
}

p, h3, ul {
  color: darkgoldenrod;
}

h1 {
  color: gold;
}



html {
  font-size: 10px; /* px means 'pixels': the base font size is now 10 pixels high  */
  font-family: 'Raleway', sans-serif; /* this should be the rest of the output you got from Google fonts */
}

h1 {
  font-size: 60px;
  text-align: center;
}

h2 {
  font-size: 30px;
  text-align: center;
}

a {
  font-size: 12px;
  text-align: left;
}

h3 {
  font-size: 20px;
  text-align: center;
}

p, li, ul {
  font-size: 18px;    
  line-height: 2;
  letter-spacing: 1px;
}

html {
  background-color: #ABA8B2;
}

h1 {
  margin: 0;
  padding: 10px 0;    
  color: #ffd700;
  text-shadow: 2px 2px 2px darkgoldenrod;
}

img {
  display: block;
  margin: 0 auto;
}

body {
  width: 950px;
  margin: 0 auto;
  background-color: #4C4B63;
  padding: 0 20px 20px 20px;
  border: 0px solid black;
}